@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus {
  outline: 0;
  box-shadow: rgb(87, 83, 78);
}

body {
  -webkit-font-smoothing: antialiased;
}

body, input, textarea, botton {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Baloo 2', sans-serif;
}
